* {
    padding: 0;
    margin: 0;
}

header img{
    width: 300px;
    display: flex;
}

html{
    background-color: white;
}

body {
    width: 970px;
    background-color: #245076;
    color: #f0f3f5;
}

header{
    display: flex;
    justify-content: space-between;
}
.barra{
    display: flex;
}

.barra1 p{
    margin: 5px;
    text-align: center;
}

.barra1 p span{
    color: black;
}

.barra1 p a{
    color: #d4b200;
}

span{
    color: #d4b200;
}

.buscador{
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding: 25px;
    width: 250px;
    height: 32px;
    background-color: #444444;
    margin-bottom: 32px;
}

.buscador input{
    width: 200px;
    height: 35px;
}

.nav{
    margin-left:50px;
    font-size: x-large;
    width: 90%;
    padding: 10px;
    background-color: #437dad;
    color: #ffffff;
    font-style: none;
    display:flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: black 2px 2px;
}

.nav ul li{
    display: inline-block;
    padding: 5px;
}

.nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

.nav ul li a:hover{
    color:#d4b101;
}

.lista ul li a{
    color: #ffffff;
}

.lista ul li a:hover{
    color:#d4b200;
}

.lista{
    margin-top: 25px;
    margin-left: 75px;
}

li{
    margin: 10px;
    text-align: center;
}

.contenido{
    display: flex;
}

.contenido ul{
    list-style: none;
        text-align: center;
}

.container{
    text-align: center;
}

.info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

p{
    margin: 10px;
}

.blanco{
    display: flex;
    color: black;
    background-color: #ffffff;
}

.blanco span{
    color: #90b9de;
}

.izquierda{
    margin-right: 50px;
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 30px;
    width: 350px;
    text-align: center;
}

.blanco p{
    text-align: center;
    width: 300px;
}

.derecha{
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 70px;
    margin-bottom: 30px;
    width: 350px;
    text-align: center;
}

.links{
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.links a:hover{
    color: #d4b200;
}

.links a{
    color: #77aad7;
    margin: 30px;
    text-decoration: none;
}

.footer p{
    color: #77aad7;
    text-align: center;
}

.buscador button{
    color: #ffffff;
    border-radius: 5px;
    border: #ffffff solid 1px;
    background-color: #245076;
    margin: 4px;
    width: 38px;
    height: 32px;
    box-shadow: 2px 2px 2px black;
}

.blue-line{
    width: 400px;
    height: 4px;
    background-color: #437dad;
}

.footer{
    margin: 0;
    padding: 10px;
    background: linear-gradient(#245076, #3370a5);
}